* {
    box-sizing: border-box;
}

body {
    background: #333;
    color: #eee;
    font-size: 1rem;
    font-family: "Arial";
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}